<div ng-controller="ui-form">
  <form name="user-form">
    <div  class="form-group">
      <p>title: <input type="text" name="name" ng-model="user.name"></p>
      <p>url: <input type="text" name="age" ng-model="user.age"></p>
      <p>category: <input type="text" name="location" ng-model="user.location"></p>
      <p>description: <input type="text" name="description" ng-model="user.description"></p>
      <p>last updated: <input type="text" name="updated" ng-model="user.updated"></p>

      <button ng-click="save()" class="btn btn-primary">SUBMIT</button>
    </div>
  </form>
</div>
